.markdown-body {
  font-size: 18px;
  background: transparent;
}

.markdown-body a {
  color: inherit;
}

.markdown-body a {
  border-bottom: 1px solid #242424;
}

.markdown-body a:hover {
  opacity: .6;
  text-decoration: unset;
}

.markdown-body pre {
  background-color: #eeeeee;
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom: unset;
}

.markdown-body ul {
  padding-left: 1.5em;
}
.markdown-body ul > li::marker {
  content: '•  ';
}