.markdown-body {
  font-size: 18px;
  color: var(--text-primary);
  background: transparent;
}

.markdown-body a {
  color: var(--primary);
}

.markdown-body a {
  border-bottom: 1px solid var(--primary);
}

.markdown-body a:hover {
  opacity: .6;
  text-decoration: unset;
}

.markdown-body code {
  color: var(--text-on-secondary);
  background-color: var(--secondary-container);
}

.markdown-body pre {
  background-color: #eaefe0;
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom: unset;
}

.markdown-body ul {
  padding-left: 1.5em;
}
.markdown-body ul > li::marker {
  content: '•  ';
}